.home6 {
    display: flex ;
    align-items: center ;
    justify-content: center ;
    gap: 2vw ;
    flex-direction: column ;
    padding: 5vw ;

}
.home6 .left, .right {
    width: 50% ;
    min-height: 60vh ;
    position: relative;
}

.home6 .up {
    display: flex ;
    align-items: center ;
    justify-content: center ;
    margin: 0 12vw;
    position: relative;
}
.home6 .up .left .circle {
    width: 421px;
    height: 421px;
    position: absolute;
    top: -25px;
    left: -10px;
    z-index: -1;
    border-radius: 50%;
    background-color: #AE14EC;
}

.home6 .up .right {
    width: 50% ;
    display: flex ;
    flex-direction: column;
    gap: 1vw ;
    align-items: start;
    background-color: #f0d6fa;
    padding: 2vw;
    border-radius: 10px;
}

.transparent {
    position: absolute;
    bottom: 1vw ;
    right: 6vw;
    background-color: #faecfcaf;
    padding: 2.4vw 6vw;
    border: 1px solid rgba(255, 255, 255, 0.804);
    border-radius: 10px ;
}

.transparent h2 {
    font-size: 30px ;
    margin-bottom: 10px ;
}

.transparent p {
    font-size:20px;
}

.home6 .up .right::after {
    content: '';
    width: 70px ;
    height: 70px ;
    border-radius: 50% ;
    background-color: #AE14EC;
    position: absolute;
    bottom: .2vw ;
    right: 3.5vw ;
    box-shadow: 0px 0px 20px 20px #AE14EC;
}

.home6 .down {
    background-color: #EEFAF4;
    padding: 2vw 4.5vw ;
    border-radius: 10px;
}


/* ---------------------------------------------- */

@media screen and (max-width: 550px) {
    .home6 .up {
        align-items: start;
        flex-direction: column;
        margin: 0;
    }
    .home6 .up .right {
        gap: 3vh;
        padding: 5vh;
        width: 100%;
        height: 100% ;
    }
    .up .right h2{
        font-size: 4.2vh;
    }
    .up .right p{
        font-size: 3vh;
    }
    .transparent {
        position: relative;
        bottom: 0;
        right: 0;
        padding: 3vh 5vh;
        background: #edc5fb8c;
        border: none;
    }
    .home6 .up .right::after {
        width: 130px ;
        height: 130px ;
        bottom: -8vh;
        right: -5vh;
        box-shadow: 0px 0px 40px 40px #AE14EC;
    }
    .transparent h2 {
        font-size: 40px;
        margin-bottom: 14px;
    }
    .transparent p {
        font-size: 24px;
    }

    .down img {
        animation: scroll ;
        animation-duration: 3s ;
        animation-timing-function: linear ;
        animation-iteration-count: infinite ;
    }

    @keyframes scroll {
        from {
            transform: translate(0%);
        }
        to {
            transform: translate(-100%);
        }
      }

}

