.youtubeVideo {
    display: flex ;
    align-items: center ;
    justify-content: center ;
}

.youtubeVideo img {
    position: absolute ;
    height: 80vh ;
    width: 80vw ;
    cursor: pointer;
}

.youtubeVideo iframe {
    height: 80vh ;
    width: 80vw ;
    border-radius: 20px;
}

/* ------------------------------------ */

@media screen and (max-width: 550px){
    .youtubeVideo {
        margin: 4vh 0;
    }
    .youtubeVideo img {
        height: 40vh ;
        width: 90vw ;
        /* display: none ; */
    }

    .youtubeVideo iframe {
        height: 40vh ;
        width: 90vw ;
    }
}